body {
    background-color: antiquewhite;
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
    margin: 0;
}

#canvases, #secondRow {
    height: 200px;
    width: 700px;
}